<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% for club in object_list %}
<h1><a href="{% url 'club-details' club.pk %}">{{club.name}}</a></h1><br>

{% endfor%}<br>

{% if user.is_authenticated %}
<h2><a href="{% url 'add-book' %}">Add Book</a></h2>
<h2><a href="{% url 'add-club' %}">Add Club</a></h2>
<h2><a href="{% url 'clubs' %}">View Clubs</a></h2>
<h2><a href="{% url 'books' %}">View Books</a></h2>
<h2><a href="{% url 'logout' %}">Logout</a></h2>
{% else %}
<h2><a href="{% url 'register' %}">Register</a></h2>
<h2><a href="{% url 'login' %}">Login</a></h2>
{% endif %}

</body>
</html>